@use "fonts" as *;
@use "variables" as *;
@use "mixin" as *;
@use "base" as *;

@use "./components/header.scss" as *;
@use "./components/hero.scss" as *;
@use "./components/programs.scss" as *;
@use "./components/steps.scss" as *;
@use "./components/footer.scss" as *;
@use "./components/example.scss" as *;
