@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.header {
  margin: 54px 30px 110px;
  position: relative;
  z-index: 3;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .header {
    margin: 24px 30px 64px;
  }
}
@media (max-width: 767px) {
  .header {
    margin: 11px 20px 45px;
  }
}
.header__inner {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: "Oswald", sans-serif;
}
.header .logo picture {
  height: 59px;
  overflow: hidden;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .header .logo picture {
    height: 51px;
  }
}
@media (max-width: 767px) {
  .header .logo picture {
    height: 38px;
  }
}
.header .logo img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header .logo__text {
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 14px;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .header .logo__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .header .logo__text {
    margin-left: 57px;
  }
}
.header .logo__text-part--cat {
  color: #111111;
  font-weight: 500;
}
.header .logo__text-part--energy {
  color: #444444;
  font-weight: 400;
}
@media (max-width: 767px) {
  .header .nav {
    display: none;
  }
}
.header .nav__list {
  display: flex;
  gap: 37px;
}
.header .nav__link {
  position: relative;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 0.3s ease;
  padding: 6px 0;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .header .nav__link {
    color: #111111;
    font-size: 1.125rem;
  }
}
.header .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .header .nav__link::after {
    background-color: #68b738;
  }
}
.header .nav__link:hover::after {
  transform: scaleX(1);
}
.header .burger {
  display: none;
}
@media (max-width: 500px) {
  .header .burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 23px;
  }
}
@media (max-width: 500px) {
  .header .burger span {
    height: 2.5px;
    width: 100%;
    transform: scale(1);
    background-color: #000000;
  }
}
@media (max-width: 767px) {
  .header .burger::before,
  .header .burger::after {
    content: "";
    position: absolute;
    height: 2.5px;
    width: 100%;
    background-color: #000000;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .header .burger::before {
    top: 0;
  }
}
@media (max-width: 767px) {
  .header .burger::after {
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .header .burger.active span {
    transform: scale(0);
  }
}
@media (max-width: 767px) {
  .header .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
}
@media (max-width: 767px) {
  .header .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

.hero {
  background-color: #ffffff;
}
.hero__inner {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 600px;
}
@media (max-width: 767px) {
  .hero__inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.hero__content {
  max-width: 415px;
  z-index: 4;
  margin-left: 80px;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .hero__content {
    margin-left: 90px;
  }
}
@media (max-width: 767px) {
  .hero__content {
    max-width: 300px;
    margin-left: 0;
    margin: 0 auto;
  }
}
.hero__title {
  font-size: 3.75rem;
  font-weight: 400;
  color: #111111;
  line-height: 60px;
  margin-bottom: 40px;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .hero__title {
    color: #111111;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 2.25rem;
    color: #ffffff;
    line-height: 36px;
    margin-bottom: 25px;
  }
}
.hero__subtitle {
  font-size: 1.25rem;
  color: #111111;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .hero__subtitle {
    color: #ffffff;
  }
}
@media (max-width: 767px) {
  .hero__subtitle {
    font-size: 0.875rem;
    margin-bottom: 300px;
  }
}
.hero__cta {
  display: inline-block;
  background-color: #68b738;
  color: #ffffff;
  padding: 14px 32px;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero__cta:hover {
  background-color: #549e2f;
}
@media (max-width: 767px) {
  .hero__cta {
    font-size: 0.875rem;
    padding: 14px 0;
    width: 280px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}
.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/background-cat-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  z-index: 1;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .hero__background {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero__background {
    background-image: url("../../../assets/img/background-cat-mobile.png");
    background-position: center top;
    top: 66px;
  }
}
.hero__product {
  position: absolute;
  z-index: 2;
  height: 500px;
  top: 143px;
  left: 150px;
  width: 100%;
  background-image: url("../../../assets/img/product-can.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .hero__product {
    left: 0;
    top: 340px;
    height: 609px;
  }
}
@media (max-width: 767px) {
  .hero__product {
    height: 270px;
    top: 230px;
    left: 0;
  }
}
