@use "../variables" as *;
@use "../_mixin" as *;

.footer {
  background-color: $color-bg-gray;
  &__inner {
    @include container;
    @include flex-center(row, space-between, center);
    max-width: 1250px;
    padding: 60px 0;

    @include respond-to(mobile) {
      @include flex-center(column, flex-start, center);
      padding: 40px 20px 22px;
    }
  }

  &__social-list {
    @include flex-center(row, space-between, center);
    width: 129px;
    fill: $color-primary;
    margin: 0 15px;

    :hover {
      filter: brightness(50%) contrast(80%);
    }

    @include respond-to(tablet) {
      margin: 0 30px;
    }

    @include respond-to(mobile) {
      padding-bottom: 20px;
    }
  }

  &__logo__text {
    margin: 0 15px;

    @include respond-to(tablet) {
      margin: 0 30px;
    }
    @include respond-to(mobile) {
      padding-bottom: 32px;
      border-bottom: 1px solid $color-border-gray;
      margin: 0 0 20px;
      width: 100%;
      text-align: center;
    }
  }

  .logo__text-part {
    font-size: 24px;
    text-transform: uppercase;

    &--cat {
      color: $color-text-accent;
      font-weight: 600;
    }
  }

  &__academy-link {
    font-size: $font-size-base;
    font-family: Arial, sans-serif;
    color: $color-text-secondary;
    align-items: center;
    display: flex;
    margin-right: 22px;
    margin: 0 15px;

    @include respond-to(tablet) {
      margin: 0 30px;
    }

    @include respond-to(mobile) {
      border-top: 1px solid $color-border-gray;
      padding-top: 22px;
      display: flex;
      justify-content: space-between;
      align-items: space-between;
      width: 100%;
      margin: 0;
    }
  }

  &__academy {
    @include respond-to(mobile) {
      display: flex;
      width: 100%;
    }
  }

  &__academy-logo {
    margin-left: 22px;
    @include respond-to(mobile) {
      margin-left: 0;
    }
  }
}
