@use "../variables" as *;
@use "../_mixin" as *;

.example {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    height: 460px;
    background-color: $color-bg-gray;
    z-index: 1;

    @include respond-to(tablet) {
      top: 573px;
    }

    @include respond-to(mobile) {
      top: 0;
      height: 100%;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    @include flex-center(row, space-between, flex-start);
    gap: 40px;
    @include container;
    margin-top: 70px;

    @include respond-to(tablet) {
      @include flex-center(column, space-between, center);
      border-top: 1px solid $color-bg-gray;
      margin-top: 104px;
      gap: 0;
    }

    @include respond-to(mobile) {
      @include flex-center(column, space-between, center);
      margin-top: 27px;
    }
  }

  &__content {
    flex: 1;
    max-width: 435px;
    margin: 0 15px;

    @include respond-to(tablet) {
      max-width: 100%;
      margin: 0 30px;
    }

    @include respond-to(mobile) {
      max-width: 100%;
      margin: 0 20px;
    }
  }

  &__title {
    font-size: $font-size-xxl;
    font-weight: 400;
    color: $color-text-accent;
    line-height: 60px;
    margin-bottom: 145px;
    margin-top: 60px;

    @include respond-to(tablet) {
      margin-top: 43px;
      margin-bottom: 63px;
    }

    @include respond-to(mobile) {
      font-size: $font-size-xl;
      line-height: 40px;
      margin-bottom: 33px;
      margin-top: 27px;
    }
  }

  &__text {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: $font-size-base;
    color: $color-text-secondary;
    line-height: 24px;
    margin-bottom: 69px;

    @include respond-to(tablet) {
      margin-bottom: 50px;
    }

    @include respond-to(mobile) {
      font-size: $font-size-xs;
      line-height: 18px;
      margin-bottom: 40px;
    }
  }

  &__stats {
    display: flex;
    gap: 40px;
    margin-bottom: 26px;

    @include respond-to(tablet) {
      margin-bottom: 0;
    }

    @include respond-to(mobile) {
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 0;
    }

    &-wrapper {
      @include respond-to(tablet) {
        @include flex-center(row, space-between, flex-start);
        margin: 0 auto 70px;
      }
    }
  }

  &__stat {
    text-align: center;
    width: 160px;
    padding: 15px 0 20px;
    position: relative;

    @include respond-to(mobile) {
      width: 124px;
    }

    ::after {
      content: "";
      position: absolute;
      border: 1px solid $color-border;
      border-radius: 5px;
      width: 160px;
      height: 72px;
      top: 0;
      left: 0;
      z-index: -1;

      @include respond-to(mobile) {
        width: 124px;
        height: 56px;
      }
    }

    @include respond-to(tablet) {
      padding: 15px 0 0;
    }
  }

  &__value {
    font-size: $font-size-l;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 5px;

    @include respond-to(mobile) {
      font-size: $font-size-ml;
      line-height: 24px;
    }
  }

  &__label {
    font-size: $font-size-xs;
    color: $color-text-secondary;
    line-height: 14px;
    font-family: Arial, sans-serif;
    z-index: 1;
    display: inline;
    background-color: $color-bg-gray;
    padding: 0 10px;

    @include respond-to(tablet) {
      background-color: $color-bg-light;
    }

    @include respond-to(mobile) {
      font-size: 12px;
      display: inline-block;
      flex-wrap: wrap;
      max-width: 90px;
    }
  }

  &__cost-wrapper {
    font-size: $font-size-m;
    text-transform: uppercase;
    margin-bottom: 74px;
    @include flex-center(row, flex-start, center);

    @include respond-to(tablet) {
      margin-bottom: 0;
      @include flex-center(column, space-between, flex-end);
    }

    @include respond-to(mobile) {
      font-size: $font-size-xs;
      line-height: 20px;
      @include flex-center(row, center, center);
      margin-bottom: 0;
    }
  }
  &__cost-value {
    font-weight: 400;
    margin-left: 63px;

    @include respond-to(mobile) {
      margin-left: 5px;
    }
  }
  &__slider {
    @include flex-center(column, center, center);
    margin: auto 15px;
  }

  &__image-wrapper {
    position: relative;
    max-width: 430px;
    overflow: hidden;
    justify-content: center;
    align-self: center;
    margin: 0 auto 60px;

    @include respond-to(mobile) {
      max-width: 311px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    &--before {
      position: absolute;
      top: 0;
      left: 0;
      clip-path: inset(0 50% 0 0);
    }
  }

  &__controls {
    @include flex-center(row, space-between, center);
    width: 100%;
    margin-bottom: 70px;

    @include respond-to(mobile) {
      @include flex-center(row, center, center);
      margin-bottom: 30px;
    }
  }

  &__range {
    margin: 0 24px;
    cursor: pointer;
    width: 465px;
    height: 6px;
    appearance: none;
    background-color: $color-border;
    border-radius: 3px;
    outline: none;

    @include respond-to(mobile) {
      width: 84px;
      margin: 0 15px;
      height: 14px;
      border-radius: 14px;
      background-color: $color-bg-light;
      border: 1px solid $color-border;
    }
  }

  /* Chrome, Safari, Edge */
  &__range::-webkit-slider-thumb {
    appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-light;
    border: 1px solid $color-border;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 13px $color-light,
      inset 0 0 0 17px $color-primary;
    transition: transform 0.15s ease;
    cursor: grab;

    @include respond-to(mobile) {
      width: 8px;
      height: 6px;
      border-radius: 10px;
      background-color: $color-primary;
      border: none;
      box-shadow: none;
    }
  }

  &__range::-webkit-slider-thumb:active {
    transform: scale(1.05);
    cursor: grabbing;
  }

  /* Firefox */
  &__range::-moz-range-thumb {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-light;
    border: 1px solid $color-border;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: grab;

    @include respond-to(mobile) {
      width: 40px;
      height: 16px;
      border-radius: 10px;
      background-color: $color-primary;
      border: none;
      box-shadow: none;
    }
  }

  /* Firefox не поддерживает ::before для thumb,
   поэтому делаем зелёную точку через box-shadow */
  &__range::-moz-range-thumb {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 12px $color-light,
      inset 0 0 0 16px $color-primary;
  }

  &__range::-moz-range-thumb:active {
    transform: scale(1.05);
  }

  &__range::-moz-range-track {
    height: 6px;
    background-color: $color-border;
    border-radius: 3px;

    @include respond-to(mobile) {
      height: 10px;
      border-radius: 10px;
    }
  }
  &__label--before,
  &__label--after {
    font-family: $font-family-base;
    font-size: $font-size-m;
    color: $color-text-main;
    line-height: 1;
    text-transform: uppercase;
    padding: 0 0 7px;
    position: relative;
    background-color: transparent;

    @include respond-to(mobile) {
      font-size: $font-size-base;
    }
  }

  &__label--before::after,
  &__label--after::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, $color-border 1px, transparent 1px);
    background-size: 2px 1px;

    @include respond-to(mobile) {
      background: none;
    }
  }
}
