@use "../variables" as *;
@use "../_mixin" as *;

.contacts {
  position: relative;

  &__inner {
    @include flex-center(row, space-between, stretch);

    @include respond-to(tablet) {
      flex-wrap: wrap;
    }

    @include respond-to(mobile) {
      flex-wrap: wrap;
    }
  }

  &__info {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: $color-light;
    padding: 55px 80px;
    width: 570px;
    @include flex-center(row, space-between, center);
    z-index: 2;
    min-height: 200px;

    @include respond-to(tablet) {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
    }

    @include respond-to(mobile) {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding: 25px 20px;
      min-height: 115px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: $font-size-m;
    line-height: 25px;
    text-transform: uppercase;
    max-width: 163px;

    @include respond-to(mobile) {
      font-size: $font-size-base;
      line-height: 20px;
      max-width: 140px;
    }
  }

  &__address {
    font-family: Arial, sans-serif;
    line-height: 20px;
    color: $color-text-secondary;
    max-width: 155px;
    font-style: normal;
    font-size: $font-size-base;
    @include flex-center(column, space-between, space-between);
    gap: 20px;

    @include respond-to(tablet) {
      @include flex-center(column, space-between, flex-end);
    }

    @include respond-to(mobile) {
      font-size: $font-size-xs;
      gap: 0;
    }

    p {
      @include respond-to(tablet) {
        text-align: right;
      }
    }
  }

  &__map-wrapper {
    position: relative;
    flex: 1 1 100%;
    min-height: 400px;
    overflow: hidden;

    @include respond-to(tablet) {
      flex: 1 1 100%;
    }

    @include respond-to(mobile) {
      flex: 1 1 100%;
      min-height: 360px;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    z-index: 1;
    max-width: 100%;
  }
}
