@use "../variables" as *;
@use "../_mixin" as *;

.programs {
  margin-top: 82px;
  @include respond-to(tablet) {
    margin-top: 0px;
  }
  @include respond-to(mobile) {
    margin-top: 22px;
  }

  &__inner {
    @include container;
    @include flex-center(row, space-between, center);
    max-width: 1250px;

    @include respond-to(tablet) {
      @include flex-center(column, space-between, center);
    }

    @include respond-to(mobile) {
      @include flex-center(column, space-between, center);
    }
  }
  &__item {
    background-color: $color-bg-gray;
    max-width: 570px;
    padding: 50px;
    margin: 0 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "icon title"
      "content content"
      "link link";

    @include respond-to(tablet) {
      max-width: 780px;
      padding: 77px 50px 50px;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "title icon"
        "content icon"
        "link icon";

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include respond-to(mobile) {
      padding: 20px 20px 20px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__top {
    display: flex;
    margin-bottom: 40px;

    @include respond-to(tablet) {
      display: contents;
    }

    @include respond-to(mobile) {
      margin-bottom: 22px;
    }
  }

  &__icon-wrapper {
    grid-area: icon;
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 60px;

    @include respond-to(tablet) {
      width: 200px;
      height: 200px;
      align-self: center;
      margin-right: 0;
      margin-left: 17px;
    }

    @include respond-to(mobile) {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }
  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 50%;
    z-index: 0;
  }

  &__icon {
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;

    @include respond-to(tablet) {
      height: 112px;
    }

    @include respond-to(mobile) {
      height: 28px;
    }
  }

  &__icon--slim {
    transform: translate(-50%, -55%);
    @include respond-to(tablet) {
      height: 192px;
    }

    @include respond-to(mobile) {
      height: 50px;
    }
  }

  &__title {
    grid-area: title;
    align-self: center;
    font-size: $font-size-xl;
    font-weight: 400;
    color: $color-text-main;
    line-height: 36px;
    text-transform: uppercase;

    @include respond-to(tablet) {
      margin-bottom: 24px;
    }

    @include respond-to(mobile) {
      font-size: $font-size-ml;
      line-height: 37px;
      white-space: nowrap;
    }
  }
  &__text {
    grid-area: content;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: $font-size-base;
    color: $color-text-main;
    line-height: 24px;
    margin-bottom: 23px;

    @include respond-to(tablet) {
      margin-bottom: 48px;
    }

    @include respond-to(mobile) {
      color: $color-text-secondary;
      font-size: $font-size-xs;
      line-height: 18px;
      margin-bottom: 15px;
      padding-bottom: 23px;
      border-bottom: 1px solid $color-border-gray;
      padding-right: 10px;
    }
  }

  &__link {
    grid-area: link;
    font-size: $font-size-m;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-text-main;
    display: flex;
    align-items: center;
    @include respond-to(mobile) {
      font-size: $font-size-base;
    }
  }
  &__arrow {
    margin-left: 28px;

    @include respond-to(mobile) {
      margin-left: 15px;
    }
  }
}
