@use "../variables" as *;
@use "../_mixin" as *;

.steps {
  &__inner {
    @include container;
    @include flex-center(column, flex-start, flex-start);
    max-width: 1250px;
  }

  h2 {
    font-size: $font-size-xxl;
    font-weight: 400;
    color: $color-text-accent;
    line-height: 60px;
    margin: 70px 15px;

    @include respond-to(tablet) {
      margin: 45px 30px 70px;
    }

    @include respond-to(mobile) {
      font-size: $font-size-xl;
      line-height: 40px;
      margin: 27px 20px 38px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    width: 100%;

    @include respond-to(tablet) {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      row-gap: 140px;
    }

    @include respond-to(mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, max-content);
      row-gap: 20px;
    }
  }

  &__item {
    position: relative;
    max-width: 250px;
    margin: 0 15px;

    @include respond-to(tablet) {
      margin-left: 30px;
      margin-right: 80px;
    }

    @include respond-to(mobile) {
      @include flex-center(row, space-between, center);
      max-width: 500px;
      position: static;
    }
  }

  &__number-bg {
    position: absolute;
    top: -40px;
    right: 0;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 280px;
    color: $color-bg-gray;
    line-height: 280px;
    z-index: 0;
    overflow: hidden;

    &--1::before {
      content: "1";
    }
    &--2::before {
      content: "2";
    }
    &--3::before {
      content: "3";
    }
    &--4::before {
      content: "4";
    }

    @include respond-to(mobile) {
      display: none;
    }
  }

  &__icon-wrapper {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: $color-primary;
    margin-bottom: 30px;
    z-index: 1;

    @include respond-to(mobile) {
      width: 60px;
      height: 60px;
      margin-bottom: 0;
      margin-right: 20px;
      flex-shrink: 0;
    }
  }

  &__icon {
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }

  &__text {
    position: relative;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: $font-size-base;
    color: $color-text-secondary;
    line-height: 24px;
    z-index: 1;

    @include respond-to(mobile) {
      font-size: $font-size-xs;
      line-height: 18px;
    }
  }
}
