@use "_variables" as *;

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

body.menu-open {
  overflow: hidden;
}
