// Контейнер по центру
@mixin container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

// Универсальный флекс-контейнер
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Адаптивность

@mixin respond-to($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1199px) and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
}
